body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

#dice-roller-container {
    text-align: center;
}

#result {
    font-size: 24px;
    margin-top: 20px;
}

#monster-image {
    margin-top: 20px;
    width: 300px;
    height: auto;
}